body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

#pgRef, #pgTV, #pgTea, #pgPlate, #pgDishWash, #pgWash, #pgMicWave, #pgIron, #pgVacuum, #pgCofee {
    display: none;
}
.container {
    max-width: 300px;

}

.inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
}
.inner2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px 250px;
}

.img {
    width: 130px;
    height: 130px;
}

.item {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background: rgb(248, 168, 24);
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    transition: background .2s linear;
}

    .btn:hover {
        background: lightgreen;
    }

.usercard {
    text-align: center;
}

/*
var(--tg-theme-bg-color)
var(--tg-theme-text-color)
var(--tg-theme-hint-color)
var(--tg-theme-link-color)
var(--tg-theme-button-color)
var(--tg-theme-button-text-color)
*/
